#pdf-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-spacing: normal;
  letter-spacing: normal;
  line-height: 2.5;
}

h1,
h2,
h3 {
  display: block;
  margin-bottom: 20px;
}

/* FAKTURE */

/* TITLE */

.fakture_wrapper {
  margin: 80px;

  width: 90%;

  padding: 30px 30px 60px 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fakture_content {
  height: 1045px;

  display: flex;
  flex-direction: column;
}

.fakture_content--data {
  font-size: 12px;
  margin-bottom: 80px;
}

.fakture_title {
  font-size: 24px;
  text-decoration: underline;
}

.fakture_content--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info_firm--title_tile {
  flex: 1 1 50%;
}

.second_info_tile {
  margin-left: 300px;
}
.fakture_content--info_firm {
  display: flex;
  justify-content: space-between;
}

.info_firm--title {
  margin: 0px;

  line-height: 1.5;
}

.info_firm {
  display: flex;
  flex-direction: column;
}

.info_firm span {
  font-size: 13px;
  line-height: 1.5;
}

/* TABLE */

.fakture_table {
  flex-shrink: 1;
  margin: 80px 0px 40px;
  width: 100%;

  background-color: var(--gray-300);
}

.fakture_table--body {
  background-color: var(--gray-300);
}

th {
  text-align: center;

  border-right: 1px solid #fff;
}

.fakture_table--body td {
  border-top: 1px solid #fff;

  border-right: 1px solid #fff;
  font-size: 12px;
  text-align: center;
}

.fakture_summary {
  display: flex;
  align-items: end;
  justify-content: end;

  flex-grow: 1;
}

.fakture_total_price {
  font-size: 25px;
  text-decoration: underline;

  margin-bottom: 70px;
}

.signature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 13px;
}

.fakture_signature {
  padding-inline: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fakture_table--summary {
  padding: 10px 20px;

  display: flex;
  align-items: end;
  justify-content: space-between;

  gap: 60px;

  background-color: var(--gray-300);
}

.fakture_details {
  line-height: 1.5;
  display: flex;
  gap: 60px;
}

.fakture_details-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fakture_details-block span {
  font-size: 12px;
}
