.form_change_modal {
  margin-bottom: 24px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--white);
}

.accent {
  margin-left: 8px;
  text-decoration: underline;
  color: var(--white);
}

.accent:hover {
  text-decoration: none;
}
