.sort_module_tile {
  margin-bottom: 32px;

  width: 100%;

  display: flex;
}
.sort_tile,
.sort_tile_page {
  display: flex;
  align-items: center;
  gap: 16px;
}

.select_size_tile {
  padding: 0 !important;
  height: 44px !important;

  border-radius: 4px !important;

  border: 1px solid var(--gray-400);
}

.sort_show_tile {
  width: 100%;
  max-height: 70px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.show_input::-webkit-inner-spin-button,
.show_input::-webkit-outer-spin-button {
  -webkit-appearance: initial;
}

.sort_list {
  z-index: 2;
}

@media screen and (max-width: 767.98px) {
  .sort_tile {
    align-items: center;
    gap: 8px;
  }
  .sort_tile h4 {
    font-size: 0.8em;
  }
  .sort_tile_page {
    display: none;
  }

  .select_size_tile {
    border: none;
    border-bottom: 1px solid var(--gray-400);
    border-radius: 0px !important;
  }
}
