.sort_module_tile {
  margin-bottom: 32px;

  display: flex;
  align-self: stretch;
}
.sort_tile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.select_size_tile {
  padding: 0 !important;
  width: 170px !important;
  height: 44px !important;

  border: 1px solid var(--gray-400) !important;
  border-radius: 4px !important;
}

.sort_show_tile {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.show_input::-webkit-inner-spin-button,
.show_input::-webkit-outer-spin-button {
  -webkit-appearance: initial;
}
