.sort_module_tile {
  margin-bottom: 32px;

  display: flex;
  align-self: stretch;
}
.sort_tile,
.sort_tile_page {
  display: flex;
  align-items: center;
  gap: 16px;
}

.select_size_tile {
  padding: 0 !important;
  height: 44px !important;

  border-radius: 4px !important;

  border: 1px solid var(--gray-400);
}

.sort_show_tile {
  max-height: 70px;

  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.show_input::-webkit-inner-spin-button,
.show_input::-webkit-outer-spin-button {
  -webkit-appearance: initial;
}

@media screen and (max-width: 767.98px) {
  .sort_tile {
    align-items: start;
    flex-direction: column;

    gap: 6px;
  }
  .sort_tile h4 {
    font-size: 0.8em;
  }
  .sort_tile_page {
    display: none;
  }
}
