.button_primary {
  max-width: 404px;
  width: 100%;

  border: 1px solid var(--primary);

  background: var(--primary);

  border-radius: 4px;

  text-wrap: nowrap;

  transition-duration: var(--transition-duration);

  box-shadow: rgba(44, 44, 44, 0.8) 0px 1px 2px 0px,
    rgba(136, 136, 136, 0.15) 0px 1px 3px 1px;
}

.button_context {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 325%;
  letter-spacing: 0.03em;

  color: var(--white);
}

.button_primary:active {
  color: var(--primary);

  background: transparent;
}

.button_primary:active .button_context {
  color: var(--primary);
}

.button_transparent {
  max-width: 152px;
  width: 100%;

  background: transparent;

  text-wrap: nowrap;

  border: 1px solid var(--primary);
  border-radius: 4px;

  backdrop-filter: blur(2px);

  transition-duration: var(--transition-duration);

  box-shadow: rgba(44, 44, 44, 0.8) 0px 1px 2px 0px,
    rgba(136, 136, 136, 0.15) 0px 1px 3px 1px;
}

.button_transparent:active {
  background: var(--primary);
  border-color: transparent;
}

.button_context_t {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 325%;
  letter-spacing: 0.03em;

  color: var(--primary);
}

.button_transparent:active .button_context_t {
  color: var(--white);
}

@media screen and (max-width: 767.98px) {
  .button_primary,
  .button_transparent {
    max-width: 100%;
  }
}

@media (hover: hover) {
  .button_primary:hover {
    color: var(--primary);

    background: transparent;
  }

  .button_primary:hover .button_context {
    color: var(--primary);
  }
  .button_transparent:hover {
    background: var(--primary);
    border-color: transparent;
  }
  .button_transparent:hover .button_context_t {
    color: var(--white);
  }
}
