.middle_tile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user_commerce {
  margin-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
