.middle_tile_wrapper {
  padding-block: 20px;
  display: flex;
  justify-content: center;
}

.scrolled {
  padding-block: 15px;
  z-index: 9999;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: var(--gray-100);

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
