.self_product_tile {
  width: 100%;
  padding-block: 32px 90px;
}

/* TITLE TILE */

.self_product_title_tile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.selfItem_title {
  margin-bottom: 32px;
  font-weight: 900;
  font-size: clamp(1.5rem, 1.1044rem + 1.978vw, 2.625rem);
  line-height: 130%;
  color: var(--gray-900);
}
.selfItem_article {
  font-size: clamp(0.8125rem, 0.7466rem + 0.3297vw, 1rem);
  line-height: 160%;
  color: var(--gray-700);
}

.art_no {
  margin-right: 4px;

  font-weight: 700;
}

/* TABS BUTTONS */

.self_product_tabs {
  padding-bottom: 20px;

  display: flex;
  gap: 12px;

  border-bottom: 1px solid var(--gray-300);
}

.self_product_tabs_button {
  cursor: pointer;
  padding: 10px 20px;

  max-width: 158px;
  max-height: 46px;

  border-radius: 4px;

  transition: all 0.2s ease-in-out;
}

.self_product_tabs_button span {
  font-size: clamp(0.75rem, 0.6522rem + 0.4348vw, 1rem);
  font-weight: 700;

  line-height: 160%;

  text-align: center;

  color: var(--gray-600);
}

.self_product_tabs_button_active {
  font-weight: 700;

  line-height: 160%;
  border: 1px solid var(--primary);
}

.self_product_tabs_button_active span {
  color: var(--primary);
}

.self_product_tabs_button:active {
  color: var(--gray-300);
  background-color: var(--primary);
}

.self_product_tabs_button:active span {
  color: var(--gray-300);
}

/* TABS TILE */

.tabs_tile {
  margin-top: 32px;
}

/* GENERAL INFO */

.general_info {
  display: flex;
  justify-content: start;

  transition: all 1s ease-in-out;
}

.product_slider_images {
  flex: 1 1 50%;
}

.product_info {
  margin-left: 80px;

  flex: 1 1 50%;
}

@media screen and (max-width: 1089.98px) {
  .general_info {
    flex-wrap: wrap;
  }
  .product_info {
    margin-top: 50px;
    margin-left: 0px;
    flex: 1 1 100%;
  }
}

.product_info_top {
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_info_rating {
  display: flex;
  flex-direction: column;
}

.reviews_tile {
  cursor: pointer;

  font-size: 14px;
  line-height: 150%;

  color: var(--gray-700);

  display: flex;
  justify-content: end;
  gap: 5px;
}

.select_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  margin: 0 !important;
  margin-bottom: 8px !important;
  width: 100% !important;

  font-family: var(--font-family) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 150% !important;
  color: var(--gray-800) !important;
}

.colors_select {
  cursor: pointer;

  display: flex;
  align-items: end;
  flex-wrap: wrap;
  column-gap: 8px;

  border-radius: 25px;
}

.color_select_tile {
  padding: 4px;
  border: 1px solid var(--gray-400);
  border-radius: 25px;
}

.color_tile {
  border-radius: 25px;
}

.color_text {
  margin-left: 16px;

  cursor: default;

  font-size: 14px;
  line-height: 150%;
  color: var(--gray-600);
}

/* SIZE FORM */

.sizeForm {
  display: flex;
  gap: 8px;
}

.size_item_label {
  padding: 6px;

  border-radius: 4px;
  border: var(--border-light-grey);

  display: flex;
  justify-content: center;
  align-items: center;
}

.size_item_label:active {
  border: 1px solid var(--primary);
}

.size_item_label_active {
  padding: 6px;

  border-radius: 4px;
  border: 1px solid var(--primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.form_size_tile {
  font-weight: 400;
  font-size: 14px !important;
  line-height: 150%;
  color: var(--gray-600) !important;
}

.select_size_tile {
  padding: 0 !important;
  width: 348px !important;
  height: 44px !important;

  border: 1px solid var(--gray-400) !important;
  border-radius: 4px !important;
}

.size_number {
  line-height: 1;

  font-size: 12px;
  color: var(--gray-800);
}

/* E-COMMERCE */

.commerce_box {
  margin-top: 32px;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

@media screen and (max-width: 1089.98px) {
  .commerce_box {
    width: 100%;
  }
}

/* COUNT BUTTON */

.product_count_price {
  position: relative;

  width: clamp(3.75rem, 2.083vw + 3.333rem, 5rem);

  max-height: 44px;
  height: 100%;

  display: flex;
  align-items: center;
  border: var(--border-light-grey);
  border-radius: 4px;
}

.product_count_input {
  padding: 11px 16px;
  width: 100%;
  height: 100%;
}

.count_price_buttons {
  position: absolute;

  top: 50%;
  right: 5px;

  transform: translateY(-50%);
}

.custom_count_button {
  padding: 0;
  width: 18px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
}

.custom_count_button svg {
  width: 28px;
}

.custom_count_button:active {
  transform: scale(1.2);
}

/* COMMERCE */

.add_to_cart_button {
  border-radius: 4px;

  width: clamp(10.25rem, 8.333vw + 8.583rem, 15.25rem);

  max-height: 44px;
  height: 100%;

  background-color: var(--primary);
}

.add_to_cart_button span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
}

.cart_icon {
  margin-right: 8px;

  fill: #fff;
  stroke: #fff;
}

.favourite_button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: clamp(7.188rem, 3.958vw + 6.396rem, 9.563rem);

  max-height: 44px;

  border: 1px solid var(--primary);
  border-radius: 4px;

  background-color: transparent;
}

.favourite_button span {
  font-weight: 700;

  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;

  color: var(--primary);
}

.cart_icon_favourite {
  margin-right: 8px;

  width: 18px;
  height: 18px;

  stroke-width: 0.5px;
  stroke: var(--primary);
  fill: var(--primary);
}

.favourite_button:active {
  box-shadow: var(--button-shadow);

  background-color: var(--primary);

  border-color: transparent;
}

.favourite_button:active span,
.favourite_button:active svg {
  color: var(--white);

  stroke: var(--white);
  fill: var(--white);
}

.favourite_button:active {
  transform: scale(0.99);

  background-color: transparent;
}

.favourite_button:active span {
  color: var(--primary);
}

.favourite_button:active svg {
  stroke: var(--primary);
  fill: var(--primary);
}

.active {
  background-color: var(--primary);
}

.favourite_button.active span,
.favourite_button.active svg {
  color: var(--white);

  fill: var(--white);
  stroke: var(--white);
}

/* HOVER BUTTON */

.add_to_cart_button:active {
  border: 1px solid var(--primary);
  background-color: transparent;

  box-shadow: var(--button-shadow);
}

.add_to_cart_button:active span {
  color: var(--primary);
}

.add_to_cart_button:active svg {
  fill: var(--primary);
  stroke: var(--primary);
}

.add_to_cart_button:active {
  transform: scale(0.99);

  background-color: var(--primary);
}

.add_to_cart_button:active span,
.add_to_cart_button:active svg {
  color: #fff;

  fill: #fff;
  stroke: #fff;
}

/* MEDIA */

@media screen and (max-width: 767.98px) {
  .favourite_button {
    max-width: 40px;
  }
  .favourite_button span {
    display: none;
  }
  .cart_icon_favourite {
    margin-right: 0px;
  }
}

@media screen and (max-width: 499.98px) {
  .self_product_tabs_button {
    padding: 5px 10px;
  }

  .select_size_tile {
    max-width: 310px !important;
  }

  .self_product_title_tile {
    margin-bottom: 25px;
    flex-wrap: nowrap;
    align-items: end;
  }
  .selfItem_title {
    margin-bottom: 0px;
  }
  .selfItem_article {
    text-wrap: nowrap;
  }
}

@media (hover: hover) {
  /* HOVER BUTTON */

  .self_product_tabs_button:hover {
    color: var(--gray-300);
    background-color: var(--primary);
  }

  .self_product_tabs_button:hover span {
    color: var(--gray-300);
  }

  .size_item_label:hover {
    border: 1px solid var(--primary);
  }

  .add_to_cart_button:hover {
    border: 1px solid var(--primary);
    background-color: transparent;

    box-shadow: var(--button-shadow);
  }

  .add_to_cart_button:hover span {
    color: var(--primary);
  }

  .add_to_cart_button:hover svg {
    fill: var(--primary);
    stroke: var(--primary);
  }

  .custom_count_button:hover {
    transform: scale(1.2);
  }

  .favourite_button:hover {
    box-shadow: var(--button-shadow);

    background-color: var(--primary);

    border-color: transparent;
  }

  .favourite_button:hover span,
  .favourite_button:hover svg {
    color: var(--white);

    stroke: var(--white);
    fill: var(--white);
  }
}
