.slider_tile {
  position: relative;

  height: 100%;
}

.slider_content_tile {
  z-index: 1;

  margin-top: 6em;

  padding-inline: 30px;
  padding-block: 40px;

  max-width: 90dvw;

  height: 55dvh;

  display: flex;
  flex-direction: column;

  border-radius: 4px;

  background-color: rgba(136, 136, 136, 0.15);

  box-shadow: rgba(136, 136, 136, 0.3) 0px 1px 2px 0px,
    rgba(136, 136, 136, 0.4) 0px 1px 3px 1px;
}

.PR_text {
  margin-bottom: 55px;

  font-weight: 700;
  font-size: clamp(1rem, 0.8153rem + 0.2581vw, 1.125rem);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--gray-100);

  text-shadow: 1px 1px 2px var(--gray-800);
}

.hero_title {
  margin-right: 40px;
}

.title_text {
  font-size: clamp(2rem, 1.6rem + 3vw, 6rem);
  font-weight: 900;

  color: var(--gray-100);

  text-shadow: 1px 1px 2px var(--gray-600);
}

.motivational_text {
  margin-left: 20px;

  font-weight: 500;
  font-size: clamp(12px, 1vw, 16px);
  letter-spacing: 0.1em;

  color: var(--gray-100);
  text-shadow: 1px 1px 2px var(--gray-800);

  display: flex;
  flex-grow: 1;
}

.buttons_tile {
  display: flex;

  gap: 50px;
}

.wrapper_background {
  position: absolute;

  width: 100vw;
  height: 100vh;
}

.wrapper_background img {
  width: 100vw;
  height: 100vh;

  object-position: 30%;
  object-fit: cover;
}

.hero_link_button {
  max-width: 229px;
  width: 100%;
}

@media screen and (max-width: 1024.98px) {
  .slider_content_tile {
    margin: 50px auto;
    height: 60vh;
  }

  .motivational_text {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .slider_content_tile {
    text-align: center;

    justify-content: end;
  }
  .motivational_text {
    margin-left: 0;
  }
  .buttons_tile {
    flex-wrap: wrap;

    gap: 20px;
  }
  .hero_link_button {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 599.98px) {
  .slider_content_tile {
    margin-block: 20px;
  }
  .hero_title {
    margin-right: 0px;
  }

  .motivational_text {
    margin-top: 30px;
  }
}
