.wishlist_page {
  margin: auto;
  width: 100%;
}
.wishlist_list {
  padding-block: 32px 80px;

  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 60px 30px;
}

.no_data_image {
  padding-block: 50px;
  margin: auto;
  width: clamp(370px, 50vw, 1000px);

  object-fit: cover;
}
