.history_bar {
  padding-block: 18px;

  width: 100%;
  background-color: #e5e8ed;

  font-size: 14px;
}

.history_list {
  display: flex;
  align-items: center;
  gap: 4px;

  text-transform: capitalize;
}

.history_list li {
  display: flex;
  align-items: center;
}

.arrow_ico {
  display: inline-block;

  width: 16px;
  height: 16px;
}

.history_link_list {
  display: flex;
  align-items: center;
}

.history_link {
  color: #424551;
  font-size: 14px;
}
