.price_tile {
  max-width: 140px;
}

.custom_select_tile {
  margin: 0 !important;
}

.custom_select {
  display: flex;
  align-items: center;

  font-size: 14px !important;
  color: inherit !important;

  border: none !important;
}

.custom_select svg {
  fill: rgba(255, 255, 255, 0.6) !important;
}

.price_tile img {
  display: inline-block;
}
