.css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-si86to-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0 35px 0 0 !important;
}
.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.error_form--text {
  font-family: var(--second-family);
  font-size: 14px;
  color: var(--warning);

  font-weight: 300;
}
