.product_wrapper {
  width: 100%;
  padding-block: 32px 80px;

  display: flex;
  column-gap: 50px;
}

.product_wrapper-sort {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_page {
  width: 100%;
  margin-bottom: 80px;

  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 260px));
  grid-column-gap: 25px;
  grid-row-gap: 40px;
}

.valute {
  font-size: 18px;
  margin-right: 4px;
}

@media screen and (max-width: 1089.98px) {
  .product_page {
    margin-bottom: 60px;
    grid-template-columns: repeat(3, minmax(160px, 1fr));
  }
}

@media screen and (max-width: 767.98px) {
  .product_page {
    grid-template-columns: repeat(3, minmax(165px, 1fr));
    grid-column-gap: 10px;
  }
}

@media screen and (max-width: 577.98px) {
  .product_page {
    margin-bottom: 40px;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    justify-content: center;
  }
}

@media screen and (max-width: 477.98px) {
  .product_page {
    grid-template-columns: repeat(2, minmax(165px, 1fr));
  }
}
