.product_wrapper {
  width: 100%;
  padding-block: 32px 80px;

  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}

.product_page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.product_card {
  width: clamp(14.375rem, 5.978vw + 13.03rem, 17.813rem);

  max-height: 420px;
  height: 100%;
}

.valute {
  font-size: 18px;
  margin-right: 4px;
}
