.content {
  z-index: 9999;

  padding: 24px 34px;
  display: block;

  position: fixed;

  width: 100vw;
  height: 100vh;

  right: 0;

  background-color: rgba(244, 245, 246, 0.9);

  animation-name: loadMenu;
  animation-duration: 1.3s;
}

.modal_nav_close {
  position: absolute;

  right: 10px;
  top: 10px;

  width: 24px;
  height: 24px;

  background: transparent;
}

.modal_nav_close svg {
  width: 100%;
  height: 100%;
}

.modal_nav_close:active {
  transform: scale(1.2);
}

@keyframes loadMenu {
  0% {
    width: 0vw;
    transform: translateX(100%);
    opacity: 0.4;
  }

  100% {
    width: 100vw;
    transform: translateX(0);
  }
}

/* NAVIGATION PANEL  */

.middle_tile_nav {
  display: flex;
  flex-direction: column;

  gap: 30px;
}
