.content {
  z-index: 9999;
  display: block;

  position: fixed;

  width: 100vw;
  height: 100vh;

  right: 0;

  background-color: var(--gray-200);

  animation-name: loadMenu;
  animation-duration: 1.3s;
}

@keyframes loadMenu {
  0% {
    width: 0vw;
    transform: translateX(105%);
    opacity: 0.7;
  }

  100% {
    width: 100vw;
    transform: translateX(0);
    opacity: 1;
  }
}
