.search_header {
  position: relative;
}

.input_tile {
  position: relative;
  max-width: 380px;
}

.search_input {
  padding: 9px 16px;

  width: clamp(160px, 25vw, 380px);
  height: clamp(18px, 20vh, 38px);

  border: 1px solid var(--gray-400);
  border-radius: 4px;
}

.search_input:focus-visible {
  outline: 2px solid var(--primary);
}

.search_input::placeholder {
  font-size: clamp(0.875rem, 0.8153rem + 0.2581vw, 1rem);
  color: var(--gray-600);
}

.search_button {
  position: absolute;

  top: 50%;
  right: 16px;

  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
}

.search_icon {
  flex-shrink: 0;

  width: 16px;
  height: 16px;

  stroke-width: 0.5px;
}

.search_icon:hover {
  transform: scale(1.1);
}

/* SEARCH TILE */

.search_tile {
  border-bottom: 20px solid var(--white);
  border-top: 20px solid var(--white);

  padding: 0 15px;

  z-index: 2;

  overflow: auto;
  position: absolute;

  top: 54px;

  max-height: 440px;

  border-radius: 5px;

  background-color: rgba(255, 255, 255, 1);

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  flex-direction: column;
}

.close_modal_search {
  position: absolute;

  top: 0;
  right: 12px;
}

.close_modal_search:hover {
  transform: scale(1.2);
}

.filteredSearch_product {
  width: 100%;

  padding-block: 20px;

  display: -webkit-inline-box;

  gap: 20px;
}

.filteredSearch_link {
  width: 100%;
}

.filteredSearch_link:not(:last-child) {
  border-bottom: var(--border-light-grey);
}

.filteredSearch_image {
  width: clamp(50px, 60vw, 85px);
  height: clamp(70px, 40vh, 95px);
}

.filteredSearch_info_product {
  display: flex;
  flex-direction: column;
}

.filteredSearch_about_product {
  display: inherit;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.search_title {
  max-width: 200px;

  font-size: 12px;

  font-weight: 300;

  color: var(--gray-900);
}

.filteredSearch_gender {
  font-size: 13px;
  text-transform: capitalize;
}

.no_results {
  padding-inline: 30px;
}

/* MEDIA */

@media screen and (max-width: 1024.98px) {
  .search_input {
    width: clamp(160px, 35vw, 380px);
  }
  .search_header {
    width: 100%;
  }

  .input_tile,
  .search_input {
    max-width: 100%;
    width: 100%;
  }

  .search_tile {
    left: 50%;
    transform: translateX(-50%);

    width: 75dvw;
  }
}
