.favorite_tile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.favorite_icon {
  cursor: pointer;
  width: 22px;
  height: 22px;

  stroke-width: 0.5px;

  transition-duration: var(--transition-duration);
}

.favorite_icon:hover {
  transform: scale(1.1);
  fill: var(--primary);
  stroke: var(--primary);
}

.active {
  transform: scale(1.1);

  fill: var(--primary);
  stroke: var(--primary);
}
