.new_arrivals_slider {
  padding-inline: 5px;
  padding-block: 5px 60px;
}

.new_arrivals_slider .swiper-pagination-bullet {
  background-color: var(--gray-500);

  border: 1px solid var(--gray-500);
  border-radius: 25px;
}

.new_arrivals_slider .swiper-pagination-bullet {
  width: 30px;
}

.new_arrivals_slider .swiper-pagination-horizontal {
  margin-bottom: 0 !important;
  width: auto !important;
  bottom: 0 !important;
  left: 50% !important;

  transform: translateX(-50%) !important;
}

.new_arrivals_slider .swiper-pagination-bullet {
  height: 3px !important;
}

@media screen and (max-width: 767.98px) {
  .new_arrivals_slider .swiper-pagination-bullet {
    width: 10px;
    height: 2px !important;
  }
}
