.new_arrivals_slider {
  padding-bottom: 80px;
}

.new_arrivals_slider .swiper-pagination-bullet {
  background-color: var(--gray-500);

  border: 1px solid var(--gray-500);
  border-radius: 25px;
}

.new_arrivals_slider .swiper-pagination-bullet {
  width: 30px;
}

.new_arrivals_slider .swiper-pagination-horizontal {
  margin-bottom: 0 !important;
  width: auto !important;
  bottom: 0 !important;
  left: 50% !important;

  transform: translateX(-50%) !important;
}
