.under_tile {
  width: 100%;

  background-color: var(--primary);
}

.prom_slider {
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.05em;
  color: var(--white);

  padding-block: 5px !important;
}

.prom_link {
  margin-left: 5px;
  text-decoration: underline;
}
