.product_card {
  position: relative;

  display: flex;
  flex-direction: column;
}

.product_slide {
  margin-right: 0px !important;
}

.product_image_tile {
  position: relative;

  background-color: var(--gray-100);
}

.product_image_tile img {
  width: 100%;
  max-height: 320px;

  object-fit: contain;

  transition-duration: var(--transition-duration);

  background-color: var(--gray-100);
}

.product_image_tile:hover img {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.new_band {
  z-index: 2;
  position: absolute;

  top: 16px;
  left: 16px;

  padding: 1.5px 8px;
  background: transparent;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;

  line-height: 160%;

  border: 1px solid var(--gray-500);
  border-radius: 4px;
}

.sale_band {
  padding: 1.5px 8px;
  background: var(--danger);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;

  line-height: 160%;
  color: var(--white);
  border-radius: 4px;
}

.deleteLike {
  cursor: pointer;

  position: absolute;

  bottom: 16px;
  right: 16px;

  width: 32px;
  height: 32px;

  background-color: var(--white);

  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_info {
  display: flex;
  flex-direction: column;
  padding: 16px;

  gap: 8px;

  text-align: start;
}

.product_title {
  flex-grow: 1;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-800);
}

.product_card:hover .product_title {
  text-decoration: underline;
}

.valute_tile {
  display: flex;
  align-items: center;
}

/* MEDIA */

@media screen and (max-width: 1279.98px) {
  .product_tile {
    max-width: 285px;
  }
}

@media screen and (max-width: 768.98px) {
  .product_image_tile img {
    max-height: 240px;
  }

  .valute_tile > span {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 539.98px) {
  .product_tile {
    margin: 0 auto;

    max-width: 320px;
  }

  .product_tile .product_image_tile {
    height: 350px;
  }

  .valute_tile > span {
    font-size: 13px !important;
  }

  .product_image_tile img {
    max-height: 230px;
  }
}
