.product_card {
  position: relative;
}

.product_slide {
  margin-right: 0px !important;
}

.product_tile {
  display: flex;
  flex-direction: column;
}

.product_image_tile {
  position: relative;
  height: clamp(15rem, 10.87vw + 10rem, 22rem);

  background-color: var(--gray-100);
  transition-duration: var(--transition-duration);
}

.product_image_tile img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.product_image_tile:hover {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transform: scale(1.02);
}

/* - */
.sale_band {
  display: inline-block;
  padding: 1.5px 8px;
  background: var(--danger);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  color: var(--white);

  border-radius: 4px;
}

.favorite_tile {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 16px;
  right: 16px;

  width: 32px;
  height: 32px;

  background-color: var(--white);
  border-radius: 25px;
}

.favorite_button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
}

.favorite_button svg {
  width: 16px;
  height: 16px;
  fill: #787a80;
}

.favorite_button:hover svg {
  stroke-width: 1px;
  stroke: var(--primary);
  fill: var(--primary);
}

.product_info {
  display: flex;
  flex-direction: column;
  padding: 16px;

  gap: 8px;

  text-align: start;
}

.product_title {
  flex-grow: 1;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-800);
}

.valute_tile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product_price {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--gray-900);
}

/* MEDIA */

@media screen and (max-width: 1279.98px) {
  .product_tile {
    max-width: 285px;
  }
}

@media screen and (max-width: 1089.98px) {
  .product_image_tile {
    height: clamp(15rem, 15vw + 11rem, 26rem);
  }
}

@media screen and (max-width: 777.98px) {
  .product_image_tile {
    height: clamp(15rem, 15vw + 15rem, 26rem);
  }
  .valute_tile > span {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 539.98px) {
  .product_tile {
    margin: 0 auto;

    max-width: 320px;
  }
  .product_image_tile {
    height: clamp(10rem, 60vw, 16rem);
  }

  .product_tile .product_image_tile {
    height: 350px;
  }

  .favorite_tile {
    right: 8px;
    bottom: 8px;
  }
  .valute_tile > span {
    font-size: 13px !important;
  }
}
