/* BUTTON */
.filters_button {
  max-width: 140px;
  height: 44px;

  border: 1px solid var(--primary);

  background: var(--primary);

  border-radius: 4px;

  text-wrap: nowrap;

  transition-duration: var(--transition-duration);

  box-shadow: rgba(44, 44, 44, 0.8) 0px 1px 2px 0px,
    rgba(136, 136, 136, 0.15) 0px 1px 3px 1px;

  color: var(--white);
}

.button_context {
  padding-inline: 10px;
  width: 100%;
  display: flex;
  justify-content: space;
  align-items: center;

  font-weight: 700;
  font-size: clamp(12px, 2vw, 16px);
  letter-spacing: 0.03em;

  color: var(--white);
}

.filters_button:active {
  background-color: transparent;
}

.filters_button:active .button_context {
  color: var(--primary);
}

.category_filters {
  margin-bottom: 20px;

  overflow: auto;
  height: 140px;
}

.category_filters_range {
  padding-block: 10px;
}

.filter_title {
  font-family: var(--font-family) !important;
}

.category_filters::-webkit-scrollbar {
  width: 2px;
}

.category_filters::-webkit-scrollbar-thumb {
  background: var(--gray-400);
}

/* RADIO */

.filter_radio_tile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2.5px;
}

.filter_radio_tile:not(:last-child) {
  margin-bottom: 12px;
}

.label_filter_title {
  font-size: 14px;
  color: var(--gray-800);
}

.filter_radio_check {
  z-index: 1;
  position: relative !important;
  display: block !important;
  overflow: visible !important;

  opacity: 1;
}

/* CHECKBOX */

.subscribe_checkbox {
  min-height: 16px;
  position: relative;

  display: flex;

  align-items: center;
}

.checkbox_label {
  display: inline-block;
  margin-left: 23px;

  font-family: var(--font-family);
  font-size: clamp(10px, 2vw, 12px);
  line-height: 1;
  color: var(--gray-800);
}

.custom_checkbox {
  position: absolute;

  top: 0;

  width: 16px;
  height: 16px;
}

.checkbox_input {
  margin: 0;

  position: absolute;

  top: 0;

  opacity: 0;

  width: 10px;
  height: 10px;
}

.primary_checkbox {
  z-index: 1;

  position: absolute;
  top: 0;

  background-color: var(--white);

  border: 1px solid var(--primary);

  border-radius: 4px;

  overflow: hidden;

  width: 100%;
  height: 100%;
}

.checkbox_input:checked ~ .primary_checkbox {
  background-color: var(--primary);
}

.primary_checkbox::after {
  position: absolute;

  content: "";

  top: 56%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-image: url("../../../public/icons/check.svg");
  background-repeat: no-repeat;
  background-size: contain;

  width: 0px;
  height: 0px;

  transition-property: width;
  transition-duration: var(--transition-duration);
}

.checkbox_input:checked ~ .primary_checkbox::after {
  width: 8px;
  height: 8px;
}

.filters_list {
  margin-right: 60px;

  min-width: 255px;
  height: 100%;
  transform-origin: top center;

  background-color: rgba(255, 255, 255, 0.9) !important;

  backdrop-filter: blur(2px);

  animation-name: showFilter;
  animation-iteration-count: 1;

  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1);

  border-radius: 4px;
}

.filter_options {
  border-bottom: 1px solid var(--gray-300);
}

@keyframes showFilter {
  0% {
    transform: scaleY(0.8);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.range_tile {
  width: 100% !important;
  margin: 0 auto;
}

.range {
  width: 100% !important;
  margin: 0 auto;
  color: var(--primary) !important;
}

.range_value_tile {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  gap: 20px;
}

.range_value_tile p {
  min-width: 50px;
  text-align: center;
  padding: 4px 6px;

  border-radius: 4px;
  background-color: var(--gray-300);
}

@media (hover: hover) {
  .filters_button:hover {
    background-color: transparent;
  }
  .filters_button:hover .button_context {
    color: var(--primary);
  }
}

@media screen and (max-width: 1089.98px) {
  .filters_button {
    max-width: 110px;
    height: 44px;

    box-shadow: none;
  }

  .filters_list {
    padding: 20px 30px;
    transform: translate(-230px);
    width: 320px;

    padding: 20px 30px;
    animation: none;

    transform: translateX(0);
  }

  .sort_tile {
    display: none;
  }
}
