.top_tile_wrapper {
  padding-block: 11px 12px;

  background-color: var(--gray-900);

  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
}

.top_tile {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

/* AUTH */

.auth_content_tile {
  display: flex;
  gap: 15px;
}
.auth_welcome_text {
  margin-right: 5px;
}

.auth_user_tile {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_user_tile:not(:last-child)::after {
  content: "";
  position: absolute;

  top: 50%;
  right: -7.5px;

  transform: translateY(-50%);
  display: block;

  width: 1px;
  height: 70%;

  background-color: var(--gray-600);
}

.sign_out_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: inherit;
}

.auth_user_tile:hover,
.sign_out_button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767.98px) {
  .top_tile_wrapper {
    padding-block: 8px;
  }

  .auth_content_tile {
    font-size: 12px;
  }
}
